@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Marimpa";
  src: url("/src/assets/fonts/Marimpa.woff2") format("woff2"),
       url("/src/assets/fonts/Marimpa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}