@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Marimpa";
  src: url("/src/assets/fonts/Marimpa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
